<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Game bots for Slack teams. Ping pong bot, chess bot, pool bot and tic-tac-toe bot for Slack. Challenges and rankings.">
        <meta name="og:description" content="Game bots for Slack teams. Ping pong bot, chess bot, pool bot and tic-tac-toe bot for Slack. Challenges and rankings.">
        <meta name="keywords" content="slack,ping,pong,ping-pong,chess,pool,billiards,tic-tac-toe,slack,bot,leaderboard">
        <title>PlayPlay.io - Ping Pong Bot, Chess Bot, Pool Bot and Tic Tac Toe Bot for Slack</title>
        <%= partial 'public/partials/_head.html' %>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Boston Ping Pong League</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <section class="bg-light-gray">
          <table class= "table">
            <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Challenger
                </th>
                <th>
                  Defender
                </th>
                <th>
                  Winner
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  2016-3-12 20:32
                </td>
                <td>
                  shuang
                </td>
                <td>
                  dcarter
                </td>
                <td>
                  shuang
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      
        <%= partial 'public/partials/_scripts.html' %>
        <!-- Slack -->
        <script src="js/register.js"></script>
        <script src="js/status.js"></script>
        <script src="js/toggle.js"></script>
        <!-- Uptime -->
        <script src="js/uptime.js"></script>
    </body>
</html>
